
/* Import Roboto font from Google */
@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


/* Reset browser CSS & apply Roboto to all text elements */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* STYLE CLASSES - Color and fonts for elements based on image 2*/

.hero-bg,.footer-bg{
    background-color: #1F2937;
}

.hero-main-text{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-secondary-text, .header-link-text a{
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.header-logo-text{
    font-size: 24px;
    color: #F9FAF8;
}

.button-color{
    color: #3882F6;
}
.call-to-action-bg{
    background-color: #3882F6;
}

.quote-bg{
    background-color: #E5E7EB;
}

.quote-text{
    font: 36px light italic #172937;
}


/* STYLE ELEMENT */
header{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#nav-bar, #website-is-awesome{
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

#nav-bar ul{
    list-style: none;
    display: flex;
    gap: 10px;
}

header img{
    width: 500px;
    height: auto;
}









